.Resume{
    scroll-margin: 80px;
    h1{
        font-family: "raleway-black";
        letter-spacing: 5px;
    }
    .resumeText{
        p{
            font-family: "raleway-light";
        }
    }
    .resumeBtns{
        .resumeBtn{
            font-family: "raleway-bold";
            letter-spacing: 3px;
        }
        .resumeBtn{
            font-family: "raleway-bold";
            letter-spacing: 3px;
        }
    }
}