.Footer{
    .socialmedia{
        a{
            .iconImg{
                width: 40px;
                height: 40px;
            }
        }
    }
    .footerText{
        p{
            font-family: "raleway-extralight";
        }
        .italic{
            font-family: "raleway-lightitalic";
        }
    }
}