/*----- Raleway -----*/
@font-face {
    font-family: "raleway-medium";
    src: local("raleway"),
      url("./font/raleway/Raleway-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-mediumItalic";
    src: local("raleway"),
      url("./font/raleway/Raleway-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-regular";
    src: local("raleway"),
      url("./font/raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-italic";
    src: local("raleway"),
      url("./font/raleway/Raleway-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-light";
    src: local("raleway"),
      url("./font/raleway/Raleway-Light.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-lightItalic";
    src: local("raleway"),
      url("./font/raleway/Raleway-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-extraLight";
    src: local("raleway"),
      url("./font/raleway/Raleway-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-extraLightItalic";
    src: local("raleway"),
      url("./font/raleway/Raleway-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-thin";
    src: local("raleway"),
      url("./font/raleway/Raleway-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-thinItalic";
    src: local("raleway"),
      url("./font/raleway/Raleway-ThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-bold";
    src: local("raleway"),
      url("./font/raleway/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-boldItalic";
    src: local("raleway"),
      url("./font/raleway/Raleway-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-extraBold";
    src: local("raleway"),
      url("./font/raleway/Raleway-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-extraBoldItalic";
    src: local("raleway"),
      url("./font/raleway/Raleway-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-semiBold";
    src: local("raleway"),
      url("./font/raleway/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-semiBoldItalic";
    src: local("raleway"),
      url("./font/raleway/Raleway-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-black";
    src: local("raleway"),
      url("./font/raleway/Raleway-Black.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-blackItalic";
    src: local("raleway"),
      url("./font/raleway/Raleway-BlackItalic.ttf") format("truetype");
}
